@charset "UTF-8";

body{
    background-color: #00c4cc;
}
main{
    display: flex;
    flex-direction: column;
    margin: auto;
}

.pred{
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content:space-evenly;
    width: 400px;
    height: 380px;
    background-image: url('IMG/Andar.png');
    background-repeat: no-repeat;
    margin: auto;
    margin-bottom: -220px;

    
}
.janela{
    /*display: inline-block;*/
    width: 80px;
    height: 112px;
    background-image: url('IMG/Janela.png');  
    background-repeat: no-repeat;
    margin-left: -45px;
    margin-top: 20px;
    
}

.janela:hover{
    cursor:pointer;
}
.base{
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content:space-evenly;
    width: 400px;
    height: 380px;
    margin: auto;
    background-image: url('IMG/Base.png');
    background-repeat: no-repeat;
}
#porta{
    width: 200px;
    height: 155px;
    background-image: url('IMG/porta.png');
    background-repeat: no-repeat;
    
}
#porta:hover{
    cursor:pointer;
}

footer{
    margin-top: 40px;
    background-color: black;
    padding: 0%;

}