@charset "UTF-8";

body{
    background-color: #00c4cc;
}
main{
    margin: auto;
}

.pred{
    display: flex;
    align-content: center;
    width: 390px;
    height: 380px;
    background-image: url('IMG/AndarConst.png');
    background-repeat: no-repeat;
    margin: auto;

    
}
.janela{
    display: inline-block;
    width: 40px;
    height: 60px;
    background-image: url('IMG/janela.png.png');  
    border: 1px solid black;
    background-repeat: no-repeat;
    margin-bottom: 10px;
}

.janela:hover{
    cursor:pointer;
}
.base{
    display: flex;
    align-content: center;
    max-width: 400px;
    min-width: 150px;
    padding: 10px;
    height: 380px;
    margin: auto;
    margin-top: 0px;
    background-image: url(IMG/BaseConvert.png);
    background-repeat: no-repeat;
}
#porta{
    margin: auto;
    padding-bottom: 0px;
    width: 150px;
    height: 130px;
    background-image: url('IMG/porta.png.png');
    background-repeat: no-repeat;
    margin-bottom: 0px;
}
#porta:hover{
    cursor:pointer;
}

footer{
    margin-top: 40px;
    background-color: black;
    padding: 0%;

}